.hi{
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #000;
    left: auto;
    right: auto ;
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
    background: white;
}
.bg{
   
    width: 100%;
    height: 100vh;  
    
}
.down{
   position: relative;
    top: 8vh;
}
body{
    background: url("../asset/fondo.jpg") ;
}
cbx{
    position: relative;
    right: 30vh;
}
.logo{
    position: relative;
    top: 10px;
}
