.form-container{
    position: absolute;
    top: 15vh;    
    padding:10%;
    font-size:italic;
    background-color: white;
    color:#000;
    border: 1px solid #d0d0d0;    
    left: auto;
    right: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;  
}

.container-fluid{
    
    width: 100%;
    height: 100vh;
   }

.container-fluid{
    width: 100%;
}

.send{
    float: right;
}
.form-inline{
    background: black;
    color: black;
}
.button-login{
    position: relative;
    

}
.btno{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #000;
    width: 100%;
    background: #cc346c; 
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #000; 
    
}
.bt{    
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #000;
    width: 100%;
}
.ls-line-md {
    border-bottom: 1px solid #A4A4A4;
    width: 130px;
    left: 3%;
}
.ls-or {
    top: 10px;
    text-align: center;
}
